<div class="tab-main">
        <ul class="nav nav-tabs">
                <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fa fa-shopping-cart iconspace" aria-hidden="true"></i>Orders</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-history iconspace" aria-hidden="true"></i>Sales history</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-address-card iconspace" aria-hidden="true"></i>Forms</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user iconspace" aria-hidden="true"></i>Users setup</a>
                </li>
        </ul>
</div>
<div>
        <router-outlet></router-outlet>
</div>
