.rmenu{
	padding : 10px 10px;
	border-bottom: 1px solid #ddd;
}

.rmainheader{
	padding : 25px 10px;
	border-bottom: 1px solid #ddd;
}

.rmainheader1{
	padding : 25px 10px;
}

.iconspace{
	padding-right: 5px;
}